<!-- <h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>
 -->

 <div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<div class="container-row">
     <%= button_to 'Empty Cart', action:'empty', data: { confirm: 'Are you sure?' } %>
     <%= button_to 'Checkout', customer_flow_cart_checkout_measurements_path %>

</div>